section {
  width: 100%;
  height: 150vh;
  box-sizing: border-box;
}

.sec1 {
  background: url(./../imagenes/otro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

span {
  /* height: 20%; */
  width: 50%;
  color: white;
  position: absolute;
  top: 30vh;
  /* display: flex; */
  /* align-items: center; */
  font-size: 60px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  line-height: 120%;
  z-index: 0;

}

