<section class="sec1">
  <h1>SERVICIOS <div id="linea">

    </div>
  </h1>



  <div class="galeria">
    <div class="secciones"><img id="comp-ig27xhrfimgimage"
        style="object-position:50% 50%;width:100%;height:46%;object-fit:cover" alt="" data-type="image"
        itemprop="image"
        src="https://static.wixstatic.com/media/c19c76_22d8ec47d1484b09a9c333e4141a12a0.jpg/v1/fill/w_300,h_227,al_c,q_80,usm_0.66_1.00_0.01/c19c76_22d8ec47d1484b09a9c333e4141a12a0.webp">
      <p><span>Planeamiento</span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda hic reiciendis suscipit maiores exercitationem alias ipsam repudiandae distinctio eos perferendis. Qui ut corrupti iure voluptatem. Perferendis voluptas ab porro assumenda.</p>
    </div>
    <div class="secciones"><img id="comp-ig27xhr7imgimage" style="object-position:50% 50%;width:100%;height:46%;object-fit:cover" alt="" data-type="image" itemprop="image" src="https://static.wixstatic.com/media/c19c76_8c7f5eed08b047bdaaf2833985c4b3d7.jpg/v1/fill/w_300,h_227,al_c,q_80,usm_0.66_1.00_0.01/c19c76_8c7f5eed08b047bdaaf2833985c4b3d7.webp">
      <p><span>Maqueta</span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente debitis velit cumque reiciendis aliquid quos pariatur excepturi, accusamus magni quia incidunt, iure perferendis tempora tempore perspiciatis nam? Non, voluptate iusto.</p>
    </div>
    <div class="secciones"><img id="comp-ig27xhrf1imgimage" style="object-position:50% 50%;width:100%;height:46%;object-fit:cover" alt="" data-type="image" itemprop="image" src="https://static.wixstatic.com/media/c19c76_e1a7148276024a03a7b0772c5a8fb9e7.jpg/v1/fill/w_300,h_227,al_c,q_80,usm_0.66_1.00_0.01/c19c76_e1a7148276024a03a7b0772c5a8fb9e7.webp">
      <p><span>Construcción</span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere qui minus ad dolorem optio voluptatem, labore enim! Accusantium maxime et soluta consequatur aliquam, facere eligendi nostrum suscipit eos facilis laboriosam?</p>
    </div>
  </div>
</section>
