<section class="sec1">
   <div class="secciones" id="seccion1"><span>NOSOTROS</span><span id="linea"></span><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi eligendi nemo optio vitae, harum deserunt corrupti recusandae fuga atque necessitatibus amet blanditiis. Culpa necessitatibus ullam, corrupti voluptatem perspiciatis quisquam quam molestias quod quaerat dolore doloremque fugit earum officia laboriosam quae quis dolores harum reiciendis modi rerum quibusdam fugiat ab! Voluptatibus sunt id eveniet ad deleniti soluta ab, a quod beatae tenetur laborum, repellat minus vel aut, quis esse dolore assumenda?.</p></div>
   <div class="secciones" id="seccion2"></div>
  </section>
  <section class="sec2">
      <div class="division"> <span class="span">2003</span><span class="texto">Año de Establecimiento</span></div>
      <div class="lineas"></div>
      <div class="division"> <span class="span">206</span><span class="texto">Proyectos Completados</span></div>
      <div class="lineas"></div>
      <div class="division"> <span class="span">870</span><span class="texto">Constructores Contratados</span></div>
      <div class="lineas"></div>
      <div class="division"> <span class="span">26</span><span class="texto">Premios Obtenidos</span></div>
  </section>
